<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ABOUT US</title>
    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/fav.jpg">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<header class="continer-fluid ">
  
            
    <div id="menu-jk" class="header-bottom">
        <div class="container">
            <div class="row nav-row">
                <div class="col-lg-3 col-md-12 logo" id="logo">
                    <a href="index.ejs">
                        <img src="/images/we.jpg" alt="" >
                        <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-lg-none  small-menu fa-bars"></i></a>
                    </a>

                </div>
                <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">

                            <ul class="navbad">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/aboutus">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/services">Services</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/gallery">Gallery</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/blog">Blog</a>
                                </li>

                                  
                                <li class="nav-item">
                                    <a class="nav-link" id="join" href="login.html">Join Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  id="donate" href="login.html">Donate</a>
                                </li>




                            </ul>


                </div>
            </div>
        </div>
    </div> 
</header>
 
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>About Our Charity</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> About Us</li>
                </ul>
            </div>
        </div>
    </div>
    
    
     <!--  ************************* About Us Starts Here ************************** -->    
       
<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Our Charity</h2>
                <p>Welcome to WE, where compassion meets action to transform the lives of underprivileged children. At the heart of our mission is a commitment to alleviating the burden of hunger, fostering education, and providing essential needs for vulnerable youngsters. We believe in the power of collective generosity to create a brighter future. </p>
                <p> With a steadfast dedication to making a meaningful impact, [WE] operates as a beacon of hope for those in need. Our focus extends beyond mere charity; we strive to empower communities by addressing the fundamental pillars of growth – food security, education, and basic necessities. Every donation received is a step towards breaking the cycle of poverty, nurturing potential, and building a foundation for a better world.</p>

                <p>Join us in our noble cause as we bridge the gap between privilege and poverty. Together, we can sow the seeds of change, cultivating a future where every child has the opportunity to thrive. Your support fuels our mission, creating a ripple effect of compassion that transforms lives and uplifts communities. </p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                           <i class="fas fa-user"></i>
                            <p>Become a Volunteer</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-search-dollar red"></i>
                            <p>Quick Fund raise</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-donate yell"></i>
                            <p>Giv Donation</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-hands-helping blu"></i>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     
   
   
    
 <!-- ################# Mission Vision Start Here #######################--->
  
  <section class="container-fluid mission-vision">
      <div class="container">
          <div class="row mission">
              <div class="col-md-6 mv-det">
                <h1>Our Mission</h1>
                <p>Our mission at WE is clear: to provide a lifeline for underprivileged children by addressing their most pressing needs. We strive to eradicate hunger, empower through education, and ensure access to basic essentials. Through unwavering commitment and community collaboration, we aim to break the cycle of poverty, offering every child a chance at a brighter future. Our mission goes beyond charity; it's a pledge to nurture potential, instill hope, and create lasting positive change in the lives of those who need it most.                  </p>
              </div>
              <div class="col-md-6 mv-img" id="ab1">
                  <img src="assets/images/ab11.jpg" class="abtimg" alt="">
              </div>
          </div>
          <div class="row vision" id="ab2">
              <div class="col-md-6 mv-img">
                   <img src="assets/images/ab2.jpg" class="abtimg" alt="">
              </div>
              <div class="col-md-6 mv-det">
                <h1>Our Vision</h1>
                <p>Our vision at WE is to create a world where no child faces the harsh realities of hunger, ignorance, or deprivation. We aspire to be a catalyst for positive change, cultivating a society where every young mind blossoms through access to nourishment, education, and basic essentials. With a commitment to breaking barriers and fostering empowerment, we envision a future where every child's potential is unlocked, and the cycle of poverty is replaced with a cycle of opportunity and hope.                    .</p>
              </div>
          </div>
      </div>
  </section>   
   
  
                 
  <!--  ************************* Footer Starts Here ************************** -->
          
      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                <p>Welcome to WE, where we're dedicated to transforming lives. As the heart behind this initiative, our mission is to secure vital resources for underprivileged children. We focus on providing food, education, and essential needs. Together, we bridge the gap between privilege and poverty, offering hope and a brighter future for those in need.</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="Home" href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="about" href="about_us.html">About Us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="services" href="services.html">Services</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="gallery" href="gallery.html">Gallery</a><i class="fa fa-angle-right"></i></li>
                        <!-- <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li> -->
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        WE <br>
                        Mangalore (D.K District) <br>
                        Karnataka, IND <br>
                        Phone: +91 9159669599 <br>
                        Email: <a href="we@gmail.com" class="">we@gmail.com</a><br>
                        Web: <a href="" class="">www.we.com</a>
                    </address>

                </div>
            </div>
            
           
        </div>
        

    </footer>
    <div class="copy">
            <div class="container">
                <a href="">2024 &copy; All Rights Reserved | TEAM WE</a>
                
                <span class="social">
                    <a><i class="fab fa-instagram"></i></a>
                    <a><i class="fab fa-linkedin"></i></a>
                    <a><i class="fab fa-whatsapp"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-facebook-f"></i></a>
        </span>
            </div>

        </div>
          
    
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/plugins/slider/js/owl.carousel.min.js"></script>
<script src="assets/js/script.js"></script>

</html>

