<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/donate.css">
</head>
<body>
   
        
        <div class="donate">
            <img src="/images/team/donate.png" alt="">
            <h1>Proceed To Donate</h1>
            <h3>lets make the change</h3>
            <br>
            <h2>Click Here!</h2>
            <form >
        <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_NMymf00Ggm3O32" async> </script>  
    </form>         
      </div>
      
</body>
</html>