<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>GALLERY</title>
    <link
      rel="shortcut icon"
      href="assets/images/fav.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="assets/images/fav.jpg" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link
      rel="stylesheet"
      href="assets/plugins/slider/css/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/plugins/slider/css/owl.theme.default.css"
    />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  </head>

  <body>
    <header class="continer-fluid">
      <div id="menu-jk" class="header-bottom">
        <div class="container">
          <div class="row nav-row">
            <div class="col-lg-3 col-md-12 logo" id="logo">
              <a href="index.html">
                <img src="assets/images/we.jpg" alt="" />
                <a data-toggle="collapse" data-target="#menu" href="#menu"
                  ><i class="fas d-block d-lg-none small-menu fa-bars"></i
                ></a>
              </a>
            </div>
            <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">
              <ul class="navbad">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about_us.html">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="services.html">Services</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="gallery.html">Gallery</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="blog.html">Blog</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="join" href="login.html">Join Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="donate" href="">Donate</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--  ************************* Page Title Starts Here ************************** -->

    <div class="page-nav no-margin row">
      <div class="container">
        <div class="row">
          <h2>Our Gallery</h2>
          <ul>
            <li>
              <a href="#"><i class="fas fa-home"></i> Home</a>
            </li>
            <li><i class="fas fa-angle-double-right"></i> Gallery</li>
          </ul>
        </div>
      </div>
    </div>

    <!--  ************************* Gallery Starts Here ************************** -->
    <div id="portfolio" class="gallery">
      <div class="container">
        <div class="row">
          <!-- <div class="gallery-filter d-none d-sm-block">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="hdpe">Finance</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">Digital Marketing</button>
            <button class="btn btn-default filter-button" data-filter="spray"> Money</button>
            <button class="btn btn-default filter-button" data-filter="irrigation">Business Alaysis</button>
        </div> -->
          <br />

          <div
            class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter hdpe"
          >
            <img
              src="assets/images/events/image_01.jpg"
              class="img-responsive"
              alt=""
            />
          </div>

          <div
            class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter sprinkle"
          >
            <img
              src="assets/images/events/image_02.jpg"
              class="img-responsive"
              alt=""
            />
          </div>

          <div
            class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter hdpe"
          >
            <img
              src="assets/images/events/image_01.jpg"
              class="img-responsive"
              alt=""
            />
          </div>

          <div
            class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter irrigation"
          >
            <img
              src="assets/images/events/image_03.jpg"
              class="img-responsive"
              alt=""
            />
          </div>

          <div
            class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter spray"
          >
            <img
              src="assets/images/events/image_04.jpg"
              class="img-responsive"
              alt=""
            />
          </div>

          <div
            class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter spray"
          >
            <img
              src="assets/images/events/image_05.jpg"
              class="img-responsive"
              alt=""
            />
          </div>

          <div
            class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter irrigation"
          >
            <img
              src="assets/images/events/image_06.jpg"
              class="img-responsive"
              alt=""
            />
          </div>

          <div
            class="gallery_product col-lg-3 col-md-4 col-sm-3 col-xs-6 filter irrigation"
          >
            <img
              src="assets/images/events/image_07.jpg"
              class="img-responsive"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- ######## Gallery End ####### -->

    <!--  ************************* Footer Starts Here ************************** -->

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h2>About Us</h2>
            <p>
              Welcome to WE, where we're dedicated to transforming lives. As the
              heart behind this initiative, our mission is to secure vital
              resources for underprivileged children. We focus on providing
              food, education, and essential needs. Together, we bridge the gap
              between privilege and poverty, offering hope and a brighter future
              for those in need.
            </p>
          </div>
          <div class="col-md-4 col-sm-12">
            <h2>Useful Links</h2>
            <ul class="list-unstyled link-list">
              <li>
                <a ui-sref="Home" href="index.html">Home</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="about" href="about_us.html">About Us</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="services" href="services.html">Services</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a ui-sref="gallery" href="gallery.html">Gallery</a
                ><i class="fa fa-angle-right"></i>
              </li>
              <!-- <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li> -->
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 map-img">
            <h2>Contact Us</h2>
            <address class="md-margin-bottom-40">
              WE <br />
              Mangalore (D.K District) <br />
              Karnataka, IND <br />
              Phone: +91 9159669599 <br />
              Email: <a href="we@gmail.com" class="">we@gmail.com</a><br />
              Web: <a href="" class="">www.we.com</a>
            </address>
          </div>
        </div>
      </div>
    </footer>
    <div class="copy">
      <div class="container">
        <a href="">2024 &copy; All Rights Reserved | TEAM WE</a>

        <span class="social">
          <a><i class="fab fa-instagram"></i></a>
          <a><i class="fab fa-linkedin"></i></a>
          <a><i class="fab fa-whatsapp"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-facebook-f"></i></a>
        </span>
      </div>
    </div>
  </body>

  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
  <script src="assets/plugins/slider/js/owl.carousel.min.js"></script>
  <script src="assets/js/script.js"></script>
</html>
