<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WE CHARITY APP</title>
    <link rel="shortcut icon" href="/images/fav.png" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/fav.jpg">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<header class="continer-fluid ">

           
    </div>
    <div id="menu-jk" class="header-bottom">
        <div class="container">
            <div class="row nav-row">
                <div class="col-lg-3 col-md-12 logo" id="logo">
                    <a href="/">
                        <img src="/images/we.jpg" alt="">
                        <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-lg-none  small-menu fa-bars"></i></a>
                    </a>

                </div>
                <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">

                            <ul class="navbad">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/aboutus">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/services">Services</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/gallery">Gallery</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/blog">Blog</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" id="join" href="/login">Join Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  id="donate" href="/login">Donate</a>
                                </li>




                            </ul>


                </div>
            </div>
        </div>
    </div> 
</header>
  
                 
  <!-- ******************** Slider Starts Here ******************* -->
    <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"  id="slim"><img src="/images/slider/ban5.jpg" alt=""></div>
                   
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="/images/slider/slider-1.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">It's time for better help.</h1>
                                <!-- <p class="slider-text hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                                 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="/images/slider/food.jpg" id="food" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                         
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>                 
                  
 <!--  ************************* About Us Starts Here ************************** -->    
       
<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Our Charity</h2>
                <p>Welcome to WE, where compassion meets action to transform the lives of underprivileged children. At the heart of our mission is a commitment to alleviating the burden of hunger, fostering education, and providing essential needs for vulnerable youngsters. We believe in the power of collective generosity to create a brighter future. </p>
                <p> With a steadfast dedication to making a meaningful impact, [Charity Name] operates as a beacon of hope for those in need. Our focus extends beyond mere charity; we strive to empower communities by addressing the fundamental pillars of growth – food security, education, and basic necessities. Every donation received is a step towards breaking the cycle of poverty, nurturing potential, and building a foundation for a better world.</p>

                <p>Join us in our noble cause as we bridge the gap between privilege and poverty. Together, we can sow the seeds of change, cultivating a future where every child has the opportunity to thrive. Your support fuels our mission, creating a ripple effect of compassion that transforms lives and uplifts communities. </p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                           <i class="fas fa-user"></i>
                            <p>Become a Volunteer</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-search-dollar red"></i>
                            <p>Quick Fundraise</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-donate yell"></i>
                            <p>Giv Donation</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-hands-helping blu"></i>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     
   
   
    
 <!-- ################# Mission Vision Start Here #######################--->
  
  <section class="container-fluid mission-vision">
      <div class="container">
          <div class="row mission">
              <div class="col-md-6 mv-det">
                  <h1>Our Mission</h1>
                  <p>Our mission at WE is clear: to provide a lifeline for underprivileged children by addressing their most pressing needs. We strive to eradicate hunger, empower through education, and ensure access to basic essentials. Through unwavering commitment and community collaboration, we aim to break the cycle of poverty, offering every child a chance at a brighter future. Our mission goes beyond charity; it's a pledge to nurture potential, instill hope, and create lasting positive change in the lives of those who need it most.                  </p>
              </div>
              <div class="col-md-6 mv-img" id="ab1">
                <img src="/images/ab11.jpg" alt="">
            </div>
          </div>
          <div class="row vision" id="ab2">
            <div class="col-md-6 mv-img">
                 <img src="/images/ab2.jpg" alt="">
            </div>
              <div class="col-md-6 mv-det">
                   <h1>Our Vision</h1>
                   <p>Our vision at WE is to create a world where no child faces the harsh realities of hunger, ignorance, or deprivation. We aspire to be a catalyst for positive change, cultivating a society where every young mind blossoms through access to nourishment, education, and basic essentials. With a commitment to breaking barriers and fostering empowerment, we envision a future where every child's potential is unlocked, and the cycle of poverty is replaced with a cycle of opportunity and hope.                    .</p>
              </div>
          </div>
      </div>
  </section>   
   

    
     <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">
            <div class="session-title row">
                <!-- <h2>Popular Causes</h2>
                <p>We are a non-profital & Charity raising money for child education</p>  -->
            </div>
            <div class="event-ro row">
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/images/events/image_08.jpg" alt="">
                        <h4>Donate Food</h4>
                        
                        <p class="raises"><span>Raised : &#8377 34,425</span> / &#8377 5,00,000 </p>
                        <p class="desic"> Your generosity ensures meals for those in need. Together, we can make a difference in the community.</p>
                        <a href="/login"><button class="btn btn-success btn-sm">Donate Now</button></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/images/events/image_06.jpg" alt="">
                        <h4>Contribute for Education</h4>
                        <p class="raises"><span>Raised : &#8377 25,425</span> / &#8377 5,00,000 </p>
                        <p class="desic">. Your support helps provide resources, scholarships, and opportunities for learners. Join us in shaping a brighter future through accessible and quality education.</p>
                        <a href="/login"><button class="btn btn-success btn-sm">Donate Now</button></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/images/events/image_04.jpg" alt="">
                        <h4>Provide Basic Needs</h4>
                        <p class="raises"><span>Raised : &#8377 20,425</span> / &#8377 5,00,000 </p>
                        <p class="desic">Click to donate essentials like food, clothing, and shelter. Your contribution makes a meaningful impact, providing comfort and assistance to those in need. </p>
                        <a href="/login"><button class="btn btn-success btn-sm">Donate Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    

   
   
    <!-- ################# Charity Number Starts Here#######################--->


    <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
               <div class="row session-title">
                   <h2>Our Achievemtns in Numbers</h2>
                   <p>
                    In a testament to collective generosity, WE has achieved remarkable milestones. We've provided thousands of nutritious meals, facilitated access to education for countless children, and fulfilled basic needs, making a tangible impact on breaking the cycle of poverty. Together, we continue to build a brighter future for the underprivileged.</p>
               </div>
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>1+</h3>
                        <span>YEARS OF EXPIRIENCE</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>1000+</h3>
                        <span>HAPPY CHILDRENS</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>52+</h3>
                        <span>EVENTS</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>48+</h3>
                        <span>FUND RAISED</span>
                    </div>
                </div>
            </div>

        </div>

    </div> 
         
    <!--################### Our Team Starts Here #######################--->
          <!-- <section class="our-team team-11">
            <div class="container">
                <div class="session-title row">
                      <h2>Meet our Team</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vel nisl a dictum. Donec ut est arcu. Donec hendrerit velit</p>
                </div>
                <div class="row team-row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-usr">
                            <img src="/images/team/team-memb1.jpg" alt="">
                            <div class="det-o">
                                <h4>David Kanuel</h4>
                                <i>CEO </i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-usr">
                            <img src="/images/team/team-memb2.jpg" alt="">
                            <div class="det-o">
                                <h4>David Kanuel</h4>
                                <i>CFO</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-usr">
                            <img src="/images/team/team-memb3.jpg" alt="">
                            <div class="det-o">
                                <h4>David Kanuel</h4>
                                <i>Team Leader</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-usr">
                            <img src="/images/team/team-memb4.jpg" alt="">
                            <div class="det-o">
                                <h4>David Kanuel</h4>
                                <i>Project Manager</i>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>      
         
           -->
    
    <!-- ################# Our Blog Starts Here#######################--->

    <section class="our-blog">
         	<div class="container">
         		<div class="row session-title">
        			<h2> Our Blog </h2>
        			<p>Take a look at what people say about US </p>
        		</div>
        		<div class="blog-row row">
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="/images/events/image_01.jpg" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2018</small>
								<h4>"Beyond Basics: Fulfilling Essential Needs for Children in Need"</h4>
								<p> Delve into the significance of providing basic necessities, offering insights into how these essentials create a foundation for a better life.</p>
								<div class="link">
									<a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="/images/events/image_02.jpg" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2018</small>
								<h4>"Nourishing Hope: How Your Donations Feed Dreams"</h4>
								<p> Explore the impact of food donations on children's lives, highlighting the vital role nutrition plays in their growth and development.</p>
								<div class="link">
									<a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="/images/events/image_03.jpg" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By Admin | August 10 2018</small>
								<h4>"Empowering Minds: The Power of Education Donations"</h4>
								<p> Discover how education donations pave the way for a brighter future, breaking the cycle of poverty through learning opportunities for underprivileged children.</p>
								<div class="link">
									<a href="">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
        					</div>
        					
        					
        				</div>
        			</div>
        		</div>
         	</div>
         </section>

      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        Welcome to WE, where we're dedicated to transforming lives. As the heart behind this initiative, our mission is to secure vital resources for underprivileged children. We focus on providing food, education, and essential needs. Together, we bridge the gap between privilege and poverty, offering hope and a brighter future for those in need.
                    </p>
                  
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="Home" href="/">Home</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="about" href="/aboutus">About Us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="services" href="/services">Services</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="gallery" href="/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                        <!-- <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li> -->
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        WE <br>
                        Mangalore (D.K District) <br>
                        Karnataka, IND <br>
                        Phone: +91 9159669599 <br>
                        Email: <a href="we@gmail.com" class="">we@gmail.com</a><br>
                        Web: <a href="" class="">www.we.com</a>
                    </address>

                </div>
            </div>
            
            
           
            
        </div>
        

    </footer>
    <div class="copy">
            <div class="container">
                <a href="">2024 &copy; All Rights Reserved | TEAM WE</a>
                
                <span class="social">
                <a><i class="fab fa-instagram"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
                <a><i class="fab fa-whatsapp"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
            </div>

        </div>

          
    
</body>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="/plugins/slider/js/owl.carousel.min.js"></script>
<script src="/js/script.js"></script>

</html> 