<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SERVICES</title>
    <link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/fav.jpg">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<header class="continer-fluid ">


    <div id="menu-jk" class="header-bottom">
        <div class="container">
            <div class="row nav-row">
                <div class="col-lg-3 col-md-12 logo" id="logo">
                    <a href="/">
                        <img src="/images/we.jpg" alt="">
                        <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-lg-none  small-menu fa-bars"></i></a>
                    </a>

                </div>
                <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">

                            <ul class="navbad">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/aboutus">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/services">Services</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/gallery">Gallery</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/blog">Blog</a>
                                </li>
                                  
                                <li class="nav-item">
                                    <a class="nav-link" id="join" href="/login">Join Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="donate" href="/login">Donate</a>
                                </li>




                            </ul>


                </div>
            </div>
        </div>
    </div> 
</header>
 
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Popular Causes</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Services</li>
                </ul>
            </div>
        </div>
    </div>
    
    
   
  <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">
           
            <div class="event-ro row">
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/images/events/image_08.jpg" alt="">
                        <h4>Child Education in Mumbai</h4>
                        
                        <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <a href="/login"><button class="btn btn-success btn-sm">Donate Now</button></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/images/events/image_06.jpg" alt="">
                        <h4>Food Donation  in Karnataka</h4>
                        <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <a href="/login"><button class="btn btn-success btn-sm">Donate Now</button></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="/images/events/image_04.jpg" alt="">
                        <h4>Child Education in kerala</h4>
                        <p class="raises"><span>Raised : $34,425</span> / $500,000 </p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <a href="/login"><button class="btn btn-success btn-sm">Donate Now</button></a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>   
      
       
  
                 
  <!--  ************************* Footer Starts Here ************************** -->
          
      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        Welcome to WE, where we're dedicated to transforming lives. As the heart behind this initiative, our mission is to secure vital resources for underprivileged children. We focus on providing food, education, and essential needs. Together, we bridge the gap between privilege and poverty, offering hope and a brighter future for those in need.
                     </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="about" href="/">Home</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="portfolio" href="/aboutus">About Us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="gallery" href="/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="contact" href="/blog">Blogs</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        WE <br>
                        Mangalore (D.K District) <br>
                        Karnataka, INDIA <br>
                        Phone: +91 7204204685 <br> 
                        Email: <a href="" class="">We@gmail.com</a><br>
                        Web: <a href="" class="">www.we.in</a>
                    </address>

                </div>
            </div>
            
          
    </footer>
    <div class="copy">
            <div class="container">
                <a href="">2024 &copy; All Rights Reserved | TEAM WE</a>
                
                <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
            </div>

        </div>
          
    
</body>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="/plugins/slider/js/owl.carousel.min.js"></script>
<script src="/js/script.js"></script>

</html>