body {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Open Sans";
    background-image:url("./d1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.donate{
    width: 500px;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
    padding: 0 10px 20px;
    color: #333;
}

.donate img{
    width: 150px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0, 0, 0.2);
}
.donate h2{
    color: rgb(1, 90, 1);
}